.wrapProjects {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px 10vw 40px 10vw;
    box-sizing: border-box;
    background-color: #f2f2fc;
}

.projectCards {
    width: 85vw;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(660px, 1fr));
    column-gap: 2em;
    row-gap: 2em;
    /* justify-content: space-between; */
}

.projCard {
    /* min-width: 400px; */
    min-height: 300px;
    padding: 10px 10px 10px 0;
    display: grid;
    grid-template-columns: 10px minmax(200px, 1fr) minmax(450px, 1fr);
    background-color: #ffffff;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.blueTag {
    /* width: 10px; */
    height: 30px;
    background-color: #00008b;
    margin-top: 0px;
}

.projDetails {
    /* max-width: 250px; */
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.projHeading {
    font-size: 16px;
    color: #00008b;
    font-weight: bold;
}

.projBrief {
    margin-top: 20px;
}

.projBrief>p {
    font-size: 12px;
}

.projLinks {
    width: 70px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.projLinks>a {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 15px;
    background-color: rgb(236, 236, 236);
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.projLinks>a:hover {
    transform: scale(1.1);
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.2);
}

.projImgs {
    /* width: 140px; */
    height: 100%;
    background-color: #00008b;
    overflow: hidden;
}

.projImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center left;
    transition: transform 0.5s;
}

.projImg:hover {
    transform: scale(1.5);
    object-position: center center;
}

@media screen and (max-width:814px) {
    .projectCards {
        width: 80vw;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        column-gap: 2em;
        row-gap: 2em;
    }
    .projCard {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "image" "details";
        grid-template-rows: 300px 300px;
        box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        padding: 0;
    }
    .blueTag {
        display: none;
    }
    .projImgs {
        grid-area: image;
    }
    .projDetails {
        grid-area: details;
    }
}